
[Desktop Entry]
Version=1.0
Name=RadioCtl
Comment=Control Of Radios
Exec=radioctl.pl
Icon=radioctl.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=HamRadio;
StartupNotify=true

